<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html>
	<head>
		<!-- Basic Page Needs
	  ================================================== -->
		<meta charset="utf-8">
		<title>CrossfitA6</title>
		<meta name="description" content="CrossfitA6 crossfit en Las Rozas de Madrid">
		<meta name="author" content="tupac">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- CSS
	  ================================================== -->
		<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:700,400,300' rel='stylesheet' type='text/css') }}">

		<link rel='stylesheet' href="{{ asset('bundles/crossfita6front/css/bootstrap.css') }}">
		<link rel='stylesheet' href="{{ asset('bundles/crossfita6front/css/flexslider.css') }}">
		<link rel='stylesheet' href="{{ asset('bundles/crossfita6front/js/fancybox/jquery.fancybox.css') }}">
		<link rel='stylesheet' href="{{ asset('bundles/crossfita6front/style.css') }}">
		<link rel='stylesheet' href="{{ asset('bundles/crossfita6front/css/mediaqueries.css') }}">
		<link rel='stylesheet' href="{{ asset('bundles/crossfita6front/colors/default.css') }}">

		<link rel="shortcut icon" href="#">
		<link rel="apple-touch-icon" href="#">
		<link rel="apple-touch-icon" sizes="72x72" href="#">
		<link rel="apple-touch-icon" sizes="114x114" href="#">

		<script src="{{ asset('bundles/crossfita6front/js/modernizr.js') }}") }}"></script>


			<!-- Hammer reload -->
			  <script>
				setInterval(function(){
				  try {
					if(typeof ws != 'undefined' && ws.readyState == 1){return true;}
					ws = new WebSocket('ws://'+(location.host || 'localhost').split(':')[0]+':35353')
					ws.onopen = function(){ws.onclose = function(){document.location.reload()}}
					ws.onmessage = function(){
					  var links = document.getElementsByTagName('link');
						for (var i = 0; i < links.length;i++) {
						var link = links[i];
						if (link.rel === 'stylesheet' && !link.href.match(/typekit/)) {
						  href = link.href.replace(/((&|\?)hammer=)[^&]+/,'');
						  link.href = href + (href.indexOf('?')>=0?'&':'?') + 'hammer='+(new Date().valueOf());
						}
					  }
					}
				  }catch(e){}
				}, 1000)
			  </script>
			<!-- /Hammer reload -->

	</head>
<body class="{% block class_body %}home{% endblock %}">
<div id="mobile-bar">
	<a class="menu-trigger" href="#mobilemenu"></a>
	<h1 class="mob-title">Home</h1>
</div>
<div id="page">
	<header id="header">
		<div class="container">
			<div class="col-sm-4">
				<h1 id="logo"><a style="color:#f4f4f4;" class='current' href="index.html"><img style="width: 64px;margin-top: -14px;" src="{{ asset('/bundles/crossfita6front/pics/logo.png') }}" alt="CrossfitA6"/>CrossfitA6</a></h1>
			</div>
			<div class="col-sm-8">
				{% include('@CrossfitA6Front/HomeBlocks/navigation.html.twig') %}
			</div>
		</div>
	</header>
	{% block title %}{% endblock %}
	{% block slideshow %}
		{% include('CrossfitA6FrontBundle:HomeBlocks:slider.html.twig') %}
	{% endblock %}

	{% block main %}
	<main id="main" class="container">
		<div class="row">
				<div class="col-sm-12">
				{% include '@CrossfitA6Front/Index/widget-popular-classes.html.twig' %}
				{% include '@CrossfitA6Front/Index/widget-promo.html.twig' %}
					<div class="row">
						{% include '@CrossfitA6Front/Index/main-content.html.twig' %}
						{% include '@CrossfitA6Front/HomeBlocks/right-sidebar.html.twig' %}
					</div>
				</div>
		</div>
	</main>
	{% endblock %}

{% include '@CrossfitA6Front/HomeBlocks/footer.html.twig' %}
</div> <!-- #page -->
{% include '@CrossfitA6Front/HomeBlocks/mobilemenu.html.twig' %}
{% include '@CrossfitA6Front/HomeBlocks/js-bottom.html.twig' %}
</body>
</html>