<nav id="nav">
    <ul id="navigation" class="group">
        <li class="{% if menu == 'index' %}current{% endif %}" >
            <a href="{{ url('index') }}">Inicio</a>
        </li>
        <li class="{% if menu=="training" %}current{% endif %}">
            <a href="{{ url('training') }}">Entrena con nosotros</a>
        </li>
        <li class="{% if menu == 'classes' %}current{% endif %}">
            <a href="{{ url('classes') }}">Clases y Horarios</a>
        </li>
        <li class="{% if menu == 'crossfit' %}current{% endif %}">
            <a href="{{ url('crossfit') }}">Crossfit</a>
        </li>
        {#
        <li class="{% if menu == 'gallery' %}current{% endif %}">
            <a href="{{ url('gallery') }}">Galería</a>
        </li>#}
        <li class="{% if menu == 'contact' %}current{% endif %}" >
            <a href="{{ url('contact') }}">Contacto</a>
        </li>
    </ul><!-- #navigation -->
</nav><!-- #nav -->